@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer utilities {
    .center {
        @apply flex items-center justify-center;
    }

    .bg-dotted {
        background-image: radial-gradient(circle at center, var(--surface-border) 0.05rem, transparent 0);
        background-size: .6rem .6rem;
        background-position: 0 0, 0.65rem 0.65rem;
    }

    .card {
        @apply p-5 rounded-2xl bg-surface-card border border-surface-border shadow-lg;
    }
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    /*background: var(--surface-ground);*/
    background: linear-gradient(0deg, #0c1d35, var(--surface-ground));
    color: var(--text-color);
}

body, .p-component {
    @apply font-sans;
}

.p-button {
    @apply text-sm;
}

.p-inline-message.p-inline-message-warn {
    background: #ce781a;
    border-color: #ce781a;
    color: #fff;
}

.p-inline-message.p-inline-message-info {
    background: #696cff;
    border-color: #696cff;
    color: #fff;
}

.p-inline-message.p-inline-message-success {
    background: #006400;
    border-color: #006400;
    color: #fff;
}

.p-inline-message.p-inline-message-error {
    background: #b93c3c;
    border-color: #b93c3c;
    color: #fff;
}

.p-inline-message .p-inline-message-text {
    @apply text-sm;
}

.p-inline-message .p-inline-message-icon.p-icon {
    color: #fff;
}

.p-datatable .p-datatable-tbody > tr:not(tr.p-highlight) {
    background: none;
}

.p-datatable .p-datatable-tbody > tr.p-highlight {
    @apply bg-surface-c;
}

.p-datatable .p-datatable-thead > tr > th {
    background: none;
    @apply font-normal text-xs uppercase text-text-color-secondary;
}

.p-datatable .p-datatable-header {
    background: none;
    border: none;
    @apply px-0;
}

.p-avatar-image img {
    width: 2rem;
    height: 2rem;
    @apply rounded;
}

.p-paginator {
    background: none;
    border: 0;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    @apply bg-surface-d text-text-color;
}

.p-password-input + i svg.p-icon {
    display: block;
}

.p-panel .p-panel-header {
    @apply p-3 border-b-0;
}

.p-panel .p-panel-header .p-panel-title {
    @apply font-normal text-sm;
}

.p-panel .p-panel-content {
    @apply p-3 bg-surface-b;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--surface-a);
    border-radius: 10px;
    border: 3px solid transparent;
}
