@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-size: 14px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    background: var(--surface-ground);
    color: var(--text-color);
}

body, .p-component {
    @apply font-sans;
}
