@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer utilities {
    .center {
        @apply flex items-center justify-center;
    }
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background: var(--surface-ground);
    color: var(--text-color);
}

body, .p-component {
    @apply font-sans;
}

.p-button {
    @apply text-sm;
}

.p-inline-message.p-inline-message-warn {
    background: #ff8c0021;
}

.p-inline-message.p-inline-message-info {
    background: #00008b21;
}

.p-inline-message.p-inline-message-success {
    background: #00640024;
}

.p-inline-message.p-inline-message-error {
    background: #8b00002b;
}

.p-datatable .p-datatable-tbody > tr {
    background: none;
}

.p-datatable .p-datatable-thead > tr > th {
    background: none;
    @apply font-normal text-xs uppercase text-text-color-secondary;
}

.p-datatable .p-datatable-header {
    background: none;
    border: none;
    @apply px-0;
}
